.bg-primary{
    background-color: #117dbc;
}
a{
    font-size: 15px;
}

.text-primary{
    color: #117dbc;
}

.bg-white {
    color: #117dbc !important;
}

.br-10{
    border-radius: 8px;
}
.br-20{
    border-radius: 20px;
    
}

.size-10{
    font-size: 12px;
}

.shadow{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4) !important; 
}
 
.my-6{
    margin-top: 7%;
    margin-bottom: 7%;
}

.bg-color{
    background-color: #117dbc;
    color: white;
}
a:hover{
    font-size: 18px;
}

.bg{
    background-color: #FB9700;
    padding: 1px;
   
}

.card-title{
    color: #117DBC;
    font-weight: bold;
    font-size: 20px;
}

.card-subtitle{
    font-weight: bold;

}
.line{
    line-height: 5px;
}

.btn{
    margin-left: 25% ;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 20px;
    font-size: 13px;

}


.w-60{
    width: 40%;
}

@media only screen and (min-width: 500px) {
   .container{
       margin-left: 6%; 

   }
    .w-xs-80{
        width : 80%
    }
}    

@media only screen and (min-width: 700px) {
     .w-md-45{
         width : 45%;
     }
     
 }
@media (min-width:1400px){
    .container{
        margin-left:9%;
    }
    
}

img{
    border: 5px solid #117dbc;
}


.card{
    display: none;
}

.card:hover{
    box-shadow:5px 12px 20px 7px rgba(16, 57, 118, 0.4) !important; 
   
    
}
.hover:hover{
    transform: scale(1.1);
    
}

 












