@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

nav{
    background: #117DBC;
    height: 140px;
    width: 100%;
  }
  label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 15px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  font-weight: bold;
  
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
  }
  a:hover{
    background: #fff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display:none;
  }
  .hide_underline{
    text-decoration: none;
    list-style: none;
  }
  @media (min-width:476px) and (max-width: 600px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color:white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color: #117DBC;
    }
    a:hover,a.active{
      background: #fff;
    transition: .5s;
    }
    #check:checked ~ ul{
      left:0;
    }
    
  }

.container0{
    display:block;
    width: 100%;
    font-family:sans-serif;
    justify-content: center;
    
   
}
.container1{
    display: flex;
    width: 100%;
    font-family:sans-serif;
    justify-content: center;
    
   
}
.container2{
    display: flex;
    width: 100%;
    font-family:sans-serif;
    justify-content: center;
}
.box1{
    
    padding-left: 20px;
  
    
}
.box2{
    
    padding-top: 60px;
    
}
.container3{
    display: flex;
    width: 100%;
    font-family:sans-serif;
    justify-content: center;
    
}
.box3{
    
    border: solid gray 1px;
    border-radius: 10px;
    font-weight: bold;
    padding:2%;
    margin-left: 30px;
    
}
.box4{
    align-self: center;
    
}


.container3 > div {
    margin: 30px 30px;
    
  }
  
  
.button_Take{
    display:inline-block;
    padding: .75rem 1rem;
    outline: none;
    border: none;
    background-color:#FFA500;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    font-weight:bold;
    margin-right: 10px;
   
  }
  .button_Accept{
    display:inline-block;
    padding: .75rem 1rem;
    outline: none;
    border: none;
    background-color:#117DBC;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    font-weight:bold;
    
    
  }
  .button_Take:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  .button_Accept:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  .br-20{
    border-radius: 20px;
}

.size-10{
    font-size: 12px;
}

.shadow{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4) !important; 
}
 
.card-title{
    color: #117DBC;
    font-weight: bold;
    font-size: 20px;
}

.card-subtitle{
    font-weight: bold;

}
.line{
    line-height: 5px;
}
@media (max-width: 585px){
    .container3 > div {
        margin: 30px 5px;
        
      }
}
@media (max-width: 480px){
    .container3 > div {
        margin: 30px 3px;
        
      }
}
@media (max-width: 472px){
  .button_Take{
      margin-left: 20px;
      margin-top: 10px;
  }
  .button_Accept{
      margin-left: 55px;
     
  }
  .container3{
      margin-left: 50px;
  }
}
