body { 
    background-image: linear-gradient(
        to bottom, 
        #117DBC 0%,
        #117DBC 10%,
        #fff 10%,
        #fff 100%
    );
    min-height: 100vh;
}
.navcolor { 
    background-color: #117DBC !important;
}
.nav-link { 
    color: #fff !important;
}
nav ul li a { 
    padding-left: 40px !important;
}
.nav-link:hover { 
    color: #4ba5da !important;
}
.navloat { 
    float: right !important;
    margin-left: 50%;
}
h2 { 
    color: #117DBC;
    text-decoration: underline;
    text-align: center;
}
.wrap1 { 
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.wrap2 { 
    margin-left: 30px;
}
.wrapper2 { 
    border-right: 1px solid black;
}
.wrapper3 { 
    border-right: 1px solid black;
}

table { 
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    
}
tr, th, td { 
    padding: 10px 80px 10px 80px;
    text-align: center;
    font-weight: 400;
}
th { 
    text-transform: uppercase;
    color: #fff;
    background-color: #117DBC;
}
.tdpink {
    background-color: #FFD8D8;
}
i { 
    cursor: pointer;
}

.logof { 
    color: rgb(173, 165, 165);
    font-size: 13px;
    padding: 10px 0px 0px 0px;
}
.logof span { 
    margin-left: 7px !important;
}
.footersocail { 
    display: inline-block;
    color: #818080;
}
footer { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img2 { 
    cursor: pointer;
}

@media screen and (max-width:560px) {
    .wrapper3 { 
        border-bottom: 1px solid black;
    }
    .wrapper2 { 
        border-bottom: 1px solid black;
        padding-left: 0px;
    }
    .wrap4 { 
        border-bottom: 1px solid black;
        border-right: 1px solid black;

    }
    .wrap2 { 
        margin-left: 0px;
    }
    .logof { 
        color: #fff;
    }
    td { 
        padding: 0px 2px 0px 2px;
    }
}