body { 
    background-image: linear-gradient(
        to bottom, 
        #117DBC 0%,
        #117DBC 20%,
        #fff 20%,
        #fff 100%
    );
    min-height: 100vh;
}
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo { 
    cursor: pointer;
    color: #fff;
    font-size: 27px;
    font-weight: 800;
}
nav ul { 
    list-style: none;
}
nav ul li { 
    display: inline-block;
    padding: 0px 20px;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
}
nav ul li a:hover { 
    color: rgb(165, 160, 160);
}
nav ul li a { 
    color: #fff;
    text-decoration: none;
    padding-left: 13px;
}
h2 { 
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-weight: 700;
}
.wrapper1 { 
    color: black;
    font-weight: 200;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-left: 1%;
}
h3 { 
    color: #117DBC;
    text-align: center;
    margin-top: 1%;
    text-decoration: underline;
}
.wrapper2 { 
    margin-left: 20%;
    margin-top: 2.5%;
}
div hr { 
    width: 50%;
}
table { 
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    
}
tr, th, td { 
    padding: 10px 80px 10px 80px;
    text-align: center;
    font-weight: 400;
}
th { 
    text-transform: uppercase;
    color: #fff;
    background-color: #117DBC;
}
.tdpink {
    background-color: #FFD8D8;
}
.img1 { 
    width: 159px;
}
.logof { 
    color:#9F9F9F;

}
.footersocail { 
    display: inline-block;
    color: #818080;
}
footer { 
    margin-left: 20px;
}
.hprof { 
    background-color: #fff;
    color: #117DBC;
    border-radius: 15px;
    padding: 2px 10px 2px 5px;
}
@media screen and (max-width: 500px){ 
    tr, th, td { 
        padding: 10px 40px 10px 40px;
    }
    h2 { 
        margin-left: 70%;
    }
    .wrapper1 { 
        position: absolute;
        padding-right: 5%;
        padding-bottom: 2%;
        margin-top: -25%;
        margin-left: 1%;
    }
    .wrapper2 { 
        margin-left: 50%;
        margin-top: -1%;
    }
    h3 { 
        margin-top: -30%;
        margin-left: 60%;
        
    }
    div hr { 
        width: 180%;
    }
   
}