.bg-primary{
    background-color: #117dbc;
}
a{
    font-size: 15px;
}

.text-primary{
    color: #117dbc;
}

.bg-white {
    color: #117dbc !important;
}

.br-10{
    border-radius: 10px;
}

.title{
    margin:4% 0%;
}

.shadow{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4) !important; 
    border-radius: 50px;
    width: 90%;
    height: 100%;
    
}
.title{
   color:#117DBC;
   margin-left: -6%;

}
.card{
    width:90%;height:100%;
}
.card-title{
   margin-bottom: 3%; margin-top: -7%;
}
img{
     width: 50%;
     height: 50%; 
     margin:10% 25%; 
     border-bottom: 10px solid black; 
     border-width: 150%;
}
.video{
    border: 1px solid black; 
}
.zoom{
    font-size: 20px;
}


input{
    margin-bottom: 2%;
    margin-top: 3%;
    width: 90% !important;
    border-radius: 15px !important;
    border: 2px solid black !important;

}
input:hover{
    border: 4px solid black !important;
}

.form-label{
    color: #117dbc;
    font-weight: bold;
    margin-top: 10%;
}

td{
    margin-bottom: 3%;
    padding: 3%;
}
table{
    border: 5px solid  #117DBC;;
}
.btn-back{
    color: #68c4fa;
    text-decoration: none;
    font-size: 25px;
    margin-right: 2%;
}

.btn-pay{
    background-color: #117dbc;
    color: white;
    border-radius: 100px;
    padding: 0.5% 3.5%;
    border-color: #117dbc;
    outline: none;
    border: none;
    font-size: 25px;
}

.button{
    text-align: right;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 3%;
}

#credit-card:hover{
  border: 4px solid #117DBC !important;
}
.table{
    width: 90%;
}
.form{
    margin-left: 6%;
}

main{
    margin-left: 6%;
}
.payment{
    margin-left: 7%;
    
}

@media (max-width:600px){
    main{
        margin-left: 12%;
    }
    .form{
        margin-top: -15%;
    }
}

.slideleft{
    position: relative;
    left: -200px;
}
.slideright{
    position: relative;
    right: -200px;
}

.table{
    border-radius: 10px;
}
