@media (min-width: 1025px) {
  .h-custom {
  height: 40vh !important;
  }
  }
  .card-registration [readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .secondCard { 
    background-color: #117DBC;
  }
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #117DBC;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: #117DBC;
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #117DBC;
  }
   .newStyleInput { 
    height: 32px !important;
  } 
  
  @media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  .h-custom { 
    height: 40vh !important;
  }
  }
  @media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  .h-custom { 
    height: 20vh !important;
  }
  }
  .fakefileinput { 
    display: none;
  }
  .error { 
    border-color: crimson !important;
  }
  .success { 
    border-color: green !important;
  }
  #errorfname,
  #errorlname,
  #erroremail,
  #errorgender,
  #errorSpec,
  #errornatio
   {
    color: crimson !important;
    font-size: small;
  }
  #errorstate,
  #errorCity,
  #erroruni,
  #errorM,
  #errorphone { 
    color: red !important;
    font-size: small;
  }
  .otherInput { 
    display: none;
  }