body { 
    background-image: linear-gradient(
        to bottom, 
        #117DBC 0%,
        #117DBC 10%,
        #fff 10%,
        #fff 100%
    );
    min-height: 100vh;
}/*
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}*/
.navcolor { 
    background-color: #117DBC !important;
}
.nav-link { 
    color: #fff !important;
}
.nav-link:hover { 
    color: #4ba5da !important;
}
.navloat { 
    float: right !important;
    margin-left: 50%;
}
nav li a { 
    padding-left: 40px !important;
}
.upup { 
    margin-top: 20px !important;
}
.setnav { 
    color: #117DBC !important;
}
.logof { 
    color: grey;
    font-size: small;
    padding-left: 20px !important;
}
.real-file { 
    display: none;
}
.error { 
    border-color: red !important;
}
.success { 
    border-color: green !important;
}
@media screen and (max-width: 500px) {

    .marque { 
        width: 0px !important;
    }
    .upup { 
        margin-top: 50px !important;
    }

}