/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #000000;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .stat-card {
      width: 300px;
      height: 200px;
      margin: 20px;
      border-radius: 30px;
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 15px;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
      border: 2px solid white;
  }
  .stat-card:hover{
    transform: scale(0.9);
    transition-delay: 200ms;
  }
  .stat-card span {
      font-size: 45px;
      position: relative;
      top: 30px;
  }
  .stat-card a {
    text-decoration: none;
    color: white;
  }
  .card {
    width: 550px;
    margin: 25px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 15px;
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    list-style: none;
  }
  .card-text li {
    padding: 7px;
  }
  /* .card li:hover{
    transform: scale(1.1);
  } */
  .card-text li span{
    float: right;
  }
  .card-text li:nth-child(odd){
    background-color: #e8e8e8;
  }
  .card-text li span .fa-trash {
    color: red;
    padding: 5px;
    font-size: larger;
  }
  .card-text li span .fa-trash:hover{
    transform: scale(1.2);
  }
  .card-text li span .fa-bars {
    color: green;
    padding: 5px;
    font-size: larger;
  }
  .card-text li span .fa-bars:hover{
    transform: scale(1.2);
  }
  .title-dash {
    text-align: center;
    padding: 15px;
    color: #8a8a8a;
  }
  #myChart , #myChart1 {
    padding: 15px;
  }
  table span .fa-trash{
    color: red;
    padding: 5px;
    font-size: larger;
  }
  table span .fa-bars{
    color: green;
    padding: 5px;
    font-size: larger;
  }
  table span .fa-power-off{
    padding: 5px;
    font-size: larger;
  }
  
  table tr:nth-child(even){
    background-color: #eee;
  }

  .btn a {
    text-decoration: none;
    color: white;
  }

  .hover-list {
    list-style: none;
    display: none;
    background-color: #000000;
    color: white;
    width: 200px;
  }
  .hover-list li {
    padding: 5px;
    margin: 5px;
  }
 
  .dropdown-menu{
    width: 100%;
  }
  .card h5 {
    margin: 10px;
  }
  #comment-box {
    background-color: #e8e8e8;;
    position: relative;
    padding: 20px;
    color: black;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 15px;
    width: 90%;
  }
  
  #comment-box::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: -25px;
    left: 90%;
    background-color: #e8e8e8;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    margin-bottom: 10px;
  }

  #comment-box .user-cmnt {
    float: right;
  }
  /* #comment-box:hover{
    transform: scale(1.1);
  } */
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .stat-card{
        width: 100%;
        margin: 15px auto auto auto;
    }
    .card{
      margin: 15px auto auto auto;
      width: 100%;
    }
    .card-text li {
      padding: 10px;
    }
    #myChart{
      height: 300px;
    }
    #comment-box {
      font-size: smaller;
    }

    #comment-box h5 {
      font-size: smaller;
    }

    .sidebar a {
      font-size: small;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .stat-card{
        margin: 15px auto auto auto;
    }
    form .sub {
      width: 100%;
      margin: auto;
    }

    #comment-box {
      font-size: smaller;
    }

    #comment-box h5 {
      font-size: smaller;
    }
    .sidebar a {
      font-size: small;
    }
  }