body { 
    background-image: linear-gradient(
        to bottom, 
        #117DBC 0%,
        #117DBC 15%,
        #fff 15%,
        #fff 100%
    );
    min-height: 100vh;
}
.headRight { 
    float: right !important;
}
.lmc { 
    color: #fff;
    font-size: 34px;
    
}
.invoice { 
    color: #fff;
    font-size: 42px;
}
.wrapR {
    float: right !important;
    margin-left: 20px !important;
}

table, tr, th, td { 
    border: 0px solid black;
    padding: 0 70px 0 80px;
    width: 100%;
    text-align: center;
} 
td {
    padding-top: 25px;
    text-align: center;
 }
 th { 
     text-transform: uppercase;
 }

 .logof { 
    color: rgb(173, 165, 165);
    font-size: 13px;
    padding: 10px 0px 0px 20px;
}
.footersocail { 
    display: inline-block;
    color: #818080;
}
footer { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img2 { 
    cursor: pointer;
}
.not { 
    height: 150px;
    background-color: #42A7E2;
    color: #fff;
}
.amount { 
    height: 150px;
    background-color: #117DBC;
    color: #fff;
    font-size: 24px;
    float: right !important;
}
.mon { 
    font-size: 32px;
    float: right !important;
}
.amountTotal { 
    float: right !important;
    margin-right: 10px !important;
}
.btnDiv { 
    text-align: center !important;
}
.buttonBack { 
    border: 0px solid black;
    background-color: #117DBC;
    color: white;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
    font-size: 24px;
    text-align: center !important;
}
i { 
    margin-bottom: 10px !important;
    color: white;
    cursor: pointer;
}
.buttonBack:active { 
        background-color: #FF9900;
}
@media screen and (max-width: 560px){
    .logof { 
        color: #fff;
    }
    .lmc { 
        font-size: 20px;
        margin-right: 50px !important;
        visibility: hidden;
    }
    .wrapL { 
        border-right: 1px solid black;
    }
}